<h1>New budget product</h1>

<%= turbo_frame_tag nested_dom_id(@budget, BudgetProduct.new) do %>
  <%= render "form", budget: @budget, budget_product: @budget_product %>
<% end %>

<br>

<div>
  <%= link_to "Back to budget", budget_path(@budget) %>
</div>
