<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Novo Usuário</h1>
<!-- Basic Card Example -->
<div class="card shadow mb-4">
  <%= render "form", user: @user %>
</div>

<br>

<div>
  <%= link_to "Voltar à Lista de Usuários", users_path, class: 'btn btn-primary' %>
</div>