<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Detalhes do Usuário</h1>

<!-- Basic Card Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
  <%= link_to "Voltar à Lista de Usuários", users_path, class: 'btn btn-primary' %>
  </div>

  <%= render @user %>

</div>
