<h1>Editing shipping type</h1>

<%= render "form", shipping_type: @shipping_type %>

<br>

<div>
  <%= link_to "Show this shipping type", @shipping_type %> |
  <%= link_to "Back to shipping types", shipping_types_path %>
</div>
